body {
  margin: 0 auto;
}

header {
  padding: 1rem 0 1rem;
  color: white;
  font-size: 18px;
}

.color-scheme {
  background-color: #552b81;
  color: white;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.save-button {
  padding: 0.5rem 1.2rem;
  border: none;
  font-size: 16px;
  font-weight: normal;
}

.sans-serif {
  font-family: sans-serif;
}

.input-font-size {
  font-size: 16px;
}

.title-form {
  font-family: "Roboto", sans-serif;
}

.input-title-block-margin-reset {
  margin-block-start: 0;
  padding: 0;
}

.title-inputs-height {
  height: 2.5rem;
}

.justify-end {
  justify-content: flex-end;
}

input,
textarea {
  margin-bottom: 2rem;
  outline-color: gainsboro;
}

input:focus,
#entry-notes:focus {
  outline-color: #552b81;
}

.square-image {
  max-height: 426px;
}

ul {
  list-style-type: none;
}

.entry-bottom-margin {
  margin-bottom: 3rem;
}

.save-button,
.new {
  border-radius: 0.25rem;
}

.new {
  padding: 0.75rem 1rem;
}

.hidden {
  display: none;
}

.no-padding-inline-start {
  padding-inline-start: 0;
}

.image-bottom-margin {
  margin-bottom: 1rem;
}

.tab {
  padding-left: 2rem;
  color: white;
  font-size: 16px;
}

.no-text-decoration {
  text-decoration: none;
}

.align-center {
  align-items: center;
}

.edit-icon {
  font-size: 24px;
  color: #552b81;
  transform: rotate(90deg);
  margin-bottom: 2rem;
}

.entry-title {
  font-size: 24px;
}
